.pool-farming {
    display: grid;
    grid-template-rows: 20% 25% 50%; // Define height of row
    grid-template-columns: 80%;
    row-gap: 20px;
    height: 100%;
    align-content: center;
    justify-content: center;

    .metric-box {
        min-width: 140px;
        width: 30%;
    }
    .pool-stats {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 2fr;
        height: 100%;
        justify-items: center;
        align-items: center;
        row-gap: 20px;
    }

    .invest-opt {
        display: grid;
        grid-template-rows: 1fr 2fr;
        height: 100%;
        justify-items: center;
        align-items: center;

        .invest-opt-coins-row {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
        }

        .invest-opt-input-row {
            display: grid;

            .invest-opt-input {
                width: 100%;
                border-radius: 10px;
                outline: none;
            }
        }
    }

    .your-invest {
        display: grid;
        grid-template-rows: 1fr 1fr 4fr;
        height: 100%;
        justify-items: center;
        // align-items: center;
        row-gap: 20px;

        .your-invest-coins-row {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
        }

        .your-invest-tabs-row {
            width: 100%;
        }
        .your-invest-data-row {
            justify-content: center;
            margin: auto;
            padding: 0 5px;
            width: 100%;
        }

        .invest-table-panel,
        .invest-tab-panel>div.MuiBox-root {
            width: 100%;
            padding: 0;
        }

        .mobile .invest-tab-panel,
        .mobile .invest-tab-panel>div.MuiBox-root {
            display: flex;
            flex-direction: column;
            justify-content: center;
            justify-items: center;
        }
    }
}

.center-text {
    text-align: center;
}

.invest-action-row {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    // padding-bottom: 1rem;
}

.claim-lp-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    margin: 5px;

}


.data-row {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 12px 0px;
    align-items: center;
  }

// .stake-button {
//     align-self: center;
//     width: 100%;
//     min-width: 163px !important;
//     max-width: 542px !important;
//     height: 43px !important;
// }

// .mobile .stake-button {
//     width: 100% !important;
//     max-width: 542px;
//     align-self: center;
//     justify-self: center;
// }