.pool-farming {
  display: grid;
  grid-template-rows: 20% 25% 50%; // Define height of row
  grid-template-columns: 80%;
  row-gap: 20px;
  height: 100%;
  align-content: center;
  justify-content: center;
}
